@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    main {
        position: relative;
        height: 100vh;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        nav {
            @apply fixed top-1/2 right-[5%] transform -translate-y-1/2  p-3 rounded-3xl shadow-lg shadow-black hidden md:block;
            ul {
                li {
                    @apply my-4;
                    a {
                        .icon {
                            @apply transition-all duration-300 ease-in-out;
                        }
                    }
                }
            }
        }

        section {
            height: 100vh;
            scroll-snap-align: start;
            @apply flex items-center justify-center overflow-hidden;

            &.hero-page {
                @apply bg-color1;
            }

            &.about-page {
                @apply bg-white;
            }

            &.skill-page {
                @apply bg-color1;
            }

            &.certification-page {
                @apply bg-white;
            }

            &.project-page {
                @apply bg-color1;
            }

            &.work-page {
                @apply bg-white;
            }

            &.contact-page {
                @apply bg-color1;
            }
        }
    }

    h1 {
        @apply text-9xl font-heading;
    }
}
